.signUp{
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.rDr9T7ELJvJ8rIFROEABqwHaEK&pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form{
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgb(129, 111, 111);
    border-radius: 1px;
}
.signupLogo{
    width: 200px;
    object-fit: contain;
    padding: 10px 0;
}
.loginPara{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin:0px 40px 20px 40px;
}
input{
    padding: 5px;
    margin: 5px 0;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.form>div{
    width: 80%;
    margin: auto;
}
#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
    margin-top: 8px;
}
.form2{
    background-color: #fff;
    padding: 30px;
    margin-top: 5px;
    border:1px solid rgb(129, 111, 111);
    border-radius: 1px;
}